Options -Indexes +ExecCGI
AddHandler cgi-script .py
DirectoryIndex app.py

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !/app.py
RewriteRule ^(.*)$ /app.py/%{REQUEST_URI} [L]

Header set Cache-Control "max-age=846000, public"