{% extends 'base.html' %}

{% block title %}Ангіографія судин головного мозку{% endblock title %}

{% block content %}
<div class="main">
    <h1>Ангіографія нижніх кінцівок</h1>
</div>
<section class="tags wrapper">
    <ul class="tab_list" style="grid-template-columns: repeat(3, 1fr);">
        <li>
            <button class="tablinks" id="default_open" onclick="viewTag(event, 'tag_1')">Балонна ангіопластика судин
                нижніх кінцівок
            </button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_2')">Як проходить процедура ангіопластики ?</button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_3')">Реабілітація</button>
        </li>
    </ul>

    <div id="tag_1" class="tabcontent">
        <h3>Ангіографія нижніх кінцівок</h3>
        <div class="conteiner">
            <div>
                <img src="{{ url_for('static', filename='images/ang_low_ex.jpg') }}">
            </div>
            <div>
                <p><strong>Ангіографія нижніх кінцівок</strong> – це метод візуалізації просвіту артерій та вен  шляхом введення в них через катетер рентгеноконтрастних речовин і одночасної рентгеноскопії (відеозапису рентгенівської зйомки), з фіксацією і обробкою отриманого зображення на спеціальному обладнанні – ангіографі WDM.</p>
                <p>При цьому фахівець отримує об’єктивну інформацію про анатомічну будову судинного русла досліджуваної області, швидкості кровотоку, наявності стенозів (звужень) і оклюзій (повної закупорки), ступеня розвитку колатерального кровообігу в досліджуваній кінцівки.</p>
                <p>На підставі цієї інформації консиліумом лікарів виставляються показання до операції і і визначається етапність лікування, з урахуванням всього комплексу передопераційного обстеження проводиться вибір методу реваскуляризації (відкрите шунтування, ендоваскулярне або гібридне втручання).</p>
                <h4>ПЕРЕВАГИ</h4>
                <ul>
                    <li>малоінвазивність (мінімальне втручання в організм);</li>
                    <li>висока ефективність і довговічність результату, так як встановлений стент виключає повторне звуження артерії;
                    </li>
                    <li>операція виконується через невеликий прокол, тому є безкровною і безболісною;</li>
                    <li>короткі терміни реабілітацій.</li>
                </ul>
                <h4>Протипоказання</h4>
                <p>Абсолютних протипоказань до стентування, коли воно проводиться за життєвими показами, немає. Однак деякі супутні захворювання можуть підвищити ризик виникнення післяопераційних ускладнень. До таких захворювань належать:</p>
                <ul>
                    <li>важка дихальна або ниркова недостатність;</li>
                    <li>порушення згортання крові;</li>
                    <li>алергія на йод.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tag_2" class="tabcontent">
        <h3>Показання до ангіографії</h3>
        <div class="conteiner">
            <div>
                <p>Артеріографія нижніх кінцівок є фінальним методом діагностики судинного русла, для остаточного визначення тактики судинного втручання, або виконується під час операції для контролю результатів втручання і можливих проблем. У порівнянні з іншими методами діагностики артерій ангіографія має переваги в тому, що дозволяє оцінити прохідність і стан внутрішньої стінки судин в динаміці, оцінити ступінь розвитку обхідних шляхів кровообігу.</p>
                <p>ПАнгіографія дозволяє діагностувати різні оклюзії і звуження периферичного русла, які можуть бути причиною гострої і хронічної артеріальної недостатності.</p>
                <p>Ангіографія нижніх кінцівок проводиться за наявності у пацієнта показань до ендоваскулярної або гібридної реваскуляризації (відновленню кровотоку) нижніх кінцівок: хронічної артеріальної недостатності нижніх кінцівок 2б, 3-й і 4-го ступеня за Фонтейном.</p>
                <p>Показання до операції встановлюються судинним хірургом на основі проведеного опитування, огляду та УЗД дослідження артерій та вен, та обговорюються з пацієнтом на первинному прийомі, після чого виконується комплексне передопераційне обстеження, що включає загальноклінічні аналізи, ЕКГ, огляд терапевта і кардіолога за показаннями.</p>
                <h4>Ангіографія нижніх кінцівок застосовується при даних захворюваннях:</h4>
                <ul>
                    <li>Аневризматичне розширення судин;</li>
                    <li>Атеросклероз нижніх кінцівок;</li>
                    <li>Гостра ішемія нижніх кінцівок;</li>
                    <li>Хронічна загрозлива ішемія кінцівок;</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tag_3" class="tabcontent">
        <h3>Як проходить процедура ангіографії?</h3>
        <div class="conteiner">
            <div>
                <h4>Підготовка до ангіографії</h4>
                <p>Підготовка до ангіографії полягає в стандартній передопераційної підготовки: гоління  місць доступу до артерій (зазвичай  пах), голод чи легкий завтрак вранці перед операцією.</p>
                <h4>Проведення ангіографії</h4>
                <p>Ангіографія виконується висококваліфікованим лікарем-рентгенендоваскулярним хірургом в стерильній спеціалізованій рентгенопераційній. Протягом усього дослідження здійснюється анестезіологічний моніторинг.</p>
                <p>Під місцевою анестезією виконується пункція артерії ноги, після чого в її просвіт заводиться тонкий катетер, по якому вводиться рентгеноконтрастна речовина. Під час дослідження пацієнт може відчувати тепло по ходу введення контрасту, дуже рідко може бути хворобливість. Тривалість власне ангіографії 10-15 хвилин.</p>
                <p>При виконанні ангіографії фахівець отримує об’єктивну і точну інформацію про будову і ураженні артеріального русла досліджуваної області. Отримані зображення зберігаються в електронному вигляді і згодом можуть бути записані на диск і віддані на руки пацієнту.</p>
                <h4>Після дослідження</h4>
                <p>Після дослідження катетери вилучаються, кровотеча з артерії зупиняється притисненням місця пункції або з використанням спеціального зшиваючого пристрою. Давляча пов’язка знімається на наступний день, тоді ж пацієнтові дозволяється ходити, і він може бути виписаний додому.</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/tags.js') }}" defer></script>
{% endblock %}
