{% extends 'base.html' %}

{% block title %}Емболізація варикоцеле{% endblock title %}
{% block description %}
Варикоцеле — варикозне розширення вен сім’яного канатика, — діагностують у кожного сьомого чоловіка, і ця патологія припадає майже на половину випадків чоловічого безпліддя.
{% endblock description %}
{% block content %}
<div class="main">
    <h1>Емболізація варикоцеле</h1>
</div>
<section class="tags wrapper">
    <ul class="tab_list" style="grid-template-columns: repeat(1, 1fr);">
        <li>
            <button class="tablinks" id="default_open" onclick="viewTag(event, 'tag_1')">Емболізація варикоцеле у
                чоловіків
            </button>
        </li>
    </ul>

    <div id="tag_1" class="tabcontent">
        <h3>Емболізація варикоцеле у чоловіків</h3>
        <div class="conteiner">
            <div>
                <img src="{{ url_for('static', filename='images/emb_varicocele.jpg') }}">
            </div>
            <div>
                <p><strong>Варикоцеле</strong> — варикозне розширення вен сім’яного канатика, — діагностують у кожного
                    сьомого чоловіка, і ця патологія припадає майже на половину випадків чоловічого безпліддя. Чи привід
                    це для розпачу? Ні! Це привід звернутися по експертну допомогу до ендоваскулярних хірургів.</p>
                <p>Першим етапом виконується повна ангіографічна діагностика індивідуальної анатомії вен тазу і мошонки.
                    Внаслідок цього, знижується до мінімуму поява рецидиву, чого не можна гарантувати після інших видів
                    хірургічних втручань. При проведенні операції ендоваскулярний хірург виявляє і блокує всі, без
                    винятку, джерела патологічного кровотоку. Така маніпуляція є абсолютно безпечною для усунення
                    патології яєчка, проводиться без будь-яких розрізів.  Через 2-3 години після її проведення пацієнт
                    може йти додому.</p>
                <p><strong>Емболізація варикоцеле</strong> — це безпечна та цілком безболісна процедура, якщо вона
                    виконується кваліфікованою бригадою хірургів:</p>
                <ul>
                    <li>процедура проходить без розрізів через невеличкі проколи у шкірі, не більше 2 мм в діаметрі</li>
                    <li>ангіографічний контроль дозволяє виконати точну діагностику індивідуальної анатомії вен тазу та
                        калитки
                    </li>
                    <li>завдяки сучасним технологіям мінімізується променеве навантаження, тому процедура абсолютно
                        безпечна для чоловіків репродуктивного віку та юнаків
                    </li>
                    <li>післяопераційний період проходить дуже легко і швидко завдяки використанню високоякісних
                        сертифікованих спіралей і катетерів невеликого діаметру, які застосовують у провідних клініках
                        світу.
                    </li>
                    <li>економія часу:госпіталізація, операція і виписка в один день.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/tags.js') }}" defer></script>
{% endblock %}
