{% extends 'base.html' %}

{% block content %}

<div class="main" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }})">
    <h1>Балонна ангіопластика</h1>
</div>
<section class="tags wrapper">
    <ul class="tab_list" style="grid-template-columns: repeat(3, 1fr);">
        <li>
            <button class="tablinks" id="default_open" onclick="viewTag(event, 'tag_1')">Балонна ангіопластика судин
                нижніх кінцівок
            </button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_2')">Як проходить процедура ангіопластики ?</button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_3')">Реабілітація</button>
        </li>
    </ul>

    <div id="tag_1" class="tabcontent">
        <h3>Балонна ангіопластика судин нижніх кінцівок </h3>
        <div class="conteiner">
            <div>
                <img src="{{ url_for('static', filename='images/ang_low_sud_2.jpg') }}">
            </div>
            <div>
                <p><strong>Балонна ангіопластика артерій нижніх кінцівок</strong> – метод ендоваскулярного відновлення
                    кровотоку (реваскуляризація) дозволяє без розрізів і загального наркозу усунути критично звужений
                    або закупорений ділянку артерії внаслідок атерсклерозу.</p>
                <p>Сенс ангіопластики судин полягає в розширенні звуженого або закупореного сегмента за допомогою
                    спеціального балона, проведеного по тонкому провіднику. Після ангіопластики в просвіт відновленої
                    судини для підтримки стінки може встановлюватися спеціальна металева конструкція – стент.</p>
                <p><strong>Покази до лікування:</strong></p>
                <ul>
                    <li>Пацієнт проходить менше 200 метрів по прямій;</li>
                    <li>Поява "болів спокою", тобто болів, що виникають в горизонтальному положенні, що змушує хворого
                        періодично опускати ногу вниз (до 3-4 разів за ніч);
                    </li>
                    <li>Ішемічний набряк гомілки і стопи. Пацієнт змушений опускати ногу більше 3-4 разів за ніч.</li>
                    <li> Некротичні зміни в пальцях стопи;</li>
                    <li>Гангрена стопи або гомілки;</li>
                    <li>Ангіопластика показана у випадках, коли відсутня клінічне поліпшення, незважаючи на проведену
                        терапію і зміна способу життя.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tag_2" class="tabcontent">
        <h3>Як проходить процедура ангіопластики ?</h3>
        <div class="conteiner">
            <div>
                <p>Для проведення оперативного втручання на артеріях нижніх кінцівок пацієнт укладається в положенні
                    лежачи на спині. Зазвичай застосовується доступ через стегнову артерію, але можливий і ретроградний
                    доступ через судини на стопі, а також радіальний доступ в області лучезапястного суглоба. Доступ до
                    судини здійснюється під УЗД контролем на апаратах експертного класу.</p>
                <p>Після введення голки, під УЗД контролем, в судину вводиться тонкий провідник по якому встановлюється
                    спеціальний катетер (інтродьюсер). Після установки інтродьюсера виконується контрольна ангіографія
                    для уточнення тактики і обсягу операції. Далі провідником проходять через місце ураженої артерії з
                    подальшим введенням спеціального балона для здійснення ангіопластики. Балон роздмухують в місці
                    звуження, тим самим моделюючи достатній просвіт артерії. Після проведення ангіопластики здійснюється
                    також контрольна ангіографія для оцінки прохідності кровотоку по артеріях.</p>
                <p>Балонна ангіопластика артерій нижніх кінцівок є ефективним методом відновлення прохідності артерій
                    при більшості оклюзійно-стенотичних уражень.
                    <br>За своїми безпосередніми результатами цей метод не поступається відкритим операціям по
                    відновленню кровотоку.</p>
            </div>
        </div>
    </div>
    <div id="tag_3" class="tabcontent">
        <h3>Реабілітація</h3>
        <div class="conteiner">
            <div>
                <p>Реабілітація після операції проходить досить швидко: в перший день пацієнт знаходиться в стаціонарі
                    під наглядом лікарів, після чого відправляється додому. Через 7-10 днів після цього можна
                    повертатися до звичайного ритму життя.</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/tags.js') }}" defer></script>
{% endblock %}
