{% extends 'base.html' %}

{% block title %}Коронарографія при болях в серці{% endblock title %}

{% block content %}

<div class="main" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }})">
    <h1>Коронарографія при болях в серці</h1>
</div>
<section class="tags wrapper">
    <ul class="tab_list" style="grid-template-columns: repeat(2, 1fr);">
        <li>
            <button class="tablinks" id="default_open" onclick="viewTag(event, 'tag_1')">Що таке коронарографія ?
            </button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_2')">Виконання ангіографії та ургентна допомога
            </button>
        </li>
    </ul>
    <div id="tag_1" class="tabcontent">
        <h3>Що таке коронарографія ?</h3>
        <div class="conteiner">
            <div>
                <img src="{{ url_for('static', filename='images/coronography.jpg') }}">
            </div>
            <div>
                <p><strong>Коронографія</strong> -незамінний метод дослідження живлячих серце судин, який допомагає
                    точно оцінити їх стан, прийняти зважене і обґрунтоване рішення щодо прогнозу і можливого способу
                    лікування. Наявність цукрового <strong>діабету, зайвої ваги</strong> і більшості супутніх
                    захворювань підвищують ризик ішемічної хвороби серця , в зв'язку з чим данний метод є незамінним в
                    <strong>ранній діагностиці інфарктів</strong></p>
                <p><strong>Показання :</strong></p>
                <ul>
                    <li>наявність або підозра на наявність ішемічної хвороби серця, перенесений раніше інфаркт
                        міокарда;
                    </li>
                    <li>деякі види порушень ритму серця;</li>
                    <li>деякі види серцевої недостатності.</li>
                </ul>
                <p><strong>Що допомагає визначити коронарографія :</strong></p>
                <ul>
                    <li>Наявність або відсутність атеросклеротичних бляшок в просвіті коронарних судин;</li>
                    <li>Тяжкість і прогноз атеросклеротичного ураження;</li>
                    <li>Розміри бляшки, яка звужує просвіт судини, її локалізацію, тривалість ураження;</li>
                    <li>Ступінь кальциноза і ступінь зрілості атеросклеротичної бляшки (визначають побічно);</li>
                    <li>Ступінь функціонального резерву серцевого кровотоку, ступінь ризику при підготовці до будь-якого
                        виду оперативного лікування;
                    </li>
                    <li>Розмір постраждалого міокарда і вірогідність рецидиву в разі перенесеного раніше інфаркту.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tag_2" class="tabcontent">
        <h3>Виконання ангіографії та ургентна допомога </h3>
        <div class="conteiner">
            <div>
                <p>Коронарографію проводить ендоваскулярний хірург за допомогою спеціального приладу - ангіографа. За
                    процесом обов'язково стежить анестезіолог-реаніматолог. Після обробки антисептиком лікар вводить в
                    артерію порожнисту трубку - інтродьюсер. Потім в гирлі коронарних судин встановлюється катетер,
                    через який вводиться контрастна речовина. Далі лікар проводить рентгенографічну зйомку судин в
                    різних проекціях, витягує інструменти і накладає тугу пов'язку на місце проколу. </p>
                <p>За допомогою ангіографа в ділянках де виявлено звуження(стеноз) або ж повне перекриття судини
                    (оклюзія) коронарної судини та її гілок для запобігання розвитку інфаркту в ургентному порядку
                    можливе <strong>балонне розширення</strong> та своєчасне <strong>стентування судини.</strong></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/tags.js') }}" defer></script>
{% endblock %}