{% extends 'base.html' %}

{% block title %}Емболізація артерій простати{% endblock title %}

{% block content %}

<div class="main" style="background-image: url({{ url_for('static', filename='images/bg.jpg') }});">
    <h1>Емболізація артерій простати</h1>
</div>
<section class="tags wrapper">
    <ul class="tab_list" style="grid-template-columns: repeat(2, 1fr);">
        <li>
            <button class="tablinks" id="default_open" onclick="viewTag(event, 'tag_1')">Процедура емболізації</button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_2')">Ефективність процедури</button>
        </li>
    </ul>
    <div id="tag_1" class="tabcontent">
        <h3>Процедура емболізації</h3>
        <div class="conteiner">
            <div>
                <p>Під час втручання потрібно встановити джерела кровопостачання простати і під контролем апарату, який
                    випускає рентгенівські промені, ввести в них тонкий мікрокатетер. Після підтвердження правильності
                    положення мікрокатетера, через нього вводяться спеціальні частинки нешкідливого речовини, зробленоі
                    з акрилової смоли (нагадує маленькі кульки) - емболізаціонний препарат. Так зменшується
                    кровопостачання в простаті (тобто виконується емболізація (закупорка, блокування) артеріальних
                    судин, які живлять збільшену простату).</p>
                <p>Після введення частинок виконується контрольне контрастування, щоб переконатися в тому, що всі
                    артерії передміхурової залози надійно закупорені. Емболізація завжди виконується з обох сторін,
                    сучасні катетери та мікрокатетери дозволяють катетеризировать простатические гілки з обох сторін
                    через один прокол.</p>
                <p>Після цього, простата з плином часу починає зменшуватися в розмірах і, внаслідок цього відбувається
                    ліквідація звуження уретри, таким чином, відновлюється проходження сечі.</p>
            </div>
        </div>
    </div>
    <div id="tag_2" class="tabcontent">
        <h3>Ефективність процедури</h3>
        <div class="conteiner">
            <div>
                <p>В даний час проведені міжнародні дослідження, які показали високу ефективність емболізації артерій
                    передміхурової залози в лікуванні аденоми простати. У переважної більшості пацієнтів вже в перший
                    місяць після операції відзначається значне зменшення розмірів простати, а також поліпшення
                    сечовипускання.</p>
                <p>При цьому не менше 30% хворих відзначають цей прогрес вже протягом першого тижня після емболізації
                    артерій передміхурової залози. У віддаленому періоді зменшення простати і регрес симптомів тривають
                    в терміни до року, приводячи до значного поліпшення або повної нормалізації сечовипускання та
                    відповідно покращення якості життя.</p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/tags.js') }}" defer></script>
{% endblock %}