<footer>
	<div class="block wrapper">
		<div class="about_us">
			<h2>Про нас</h2>
			<ul>
				<li><img src="{{ url_for('static', filename='images/icons/placeholder.svg') }}" width="20px">Третя Черкаська міська лікарня</li>
				<li><img src="{{ url_for('static', filename='images/icons/clock.svg') }}" width="15px">м.Черкаси, Самійла кішки 210</li>
			</ul>
		</div>
		<div>
			<h2>Меню</h2>
			<ul class="footer_menu">
				<li>
					<span class="arrow_top"></span>
					<span class="arrow_bottom"></span>
					<a href="#" onclick="openNav('list_1')">Напрямки лікування</a>
				</li>
				<li>
					<span class="arrow_top"></span>
					<span class="arrow_bottom"></span>
					<a href="#" onclick="openNav('list_2')">Діагностика</a>
				</li>
				<li>
					<span class="arrow_top"></span>
					<span class="arrow_bottom"></span>
					<a href="#">Симптоми та діагнози</a>
				</li>
				<li>
					<span class="arrow_top"></span>
					<span class="arrow_bottom"></span>
					<a href="#Doctors">Лікарі</a>
				</li>
				<li>
					<span class="arrow_top"></span>
					<span class="arrow_bottom"></span>
					<a href="#">Контакти</a>
				</li>
				<li>
					<span class="arrow_top"></span>
					<span class="arrow_bottom"></span>
					<a href="#Reviews">Відгуки</a>
				</li>
			</ul>
		</div>
		<div>
			<h2>Контакти</h2>
			<ul>
				<li>
					<a href="tel:+380976940378" class="contact">
						<img src="{{ url_for('static', filename='images/icons/phone-call.svg') }}" width="20px">
						+38-097-694-0378
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/groups/interventional3clinic" class="contact">
						<img src="{{ url_for('static', filename='images/icons/facebook.svg') }}" width="20px">
						Наш FaceBook
					</a>
				</li>
				<li>
					<a href="#" class="contact">
						<img src="{{ url_for('static', filename='images/icons/youtube.svg') }}" width="20px">
						Наш YouTube
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom_footer">
		<div class="wrapper">
			<p>&copy 2021. Все права защищены.</p>
		</div>
	</div>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
