{% extends 'base.html' %}

{% block title %}Ангіопульмонографія{% endblock title %}

{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Ангіопульмонографія</h3></center>
	<img src="{{ url_for('static', filename='images/angiopulmonography.jpg') }}">
	<p>
		<strong>Ангіопульмонографія</strong> - проводиться з метою діагностики тромбоемболії легеневої артерії, звуження стовбура легеневої артерії та ін.При загальній ангіопульмонографіі контрастну речовину вводять в стовбур легеневої артерії, при цьому заповнюються всі судини малого кола кровообігу. При селективної контраст вводиться лише в одну з гілок легеневої артерії і оцінюється стан кровотоку тільки однієї легені або його частки.
	</p>
	<h4>Показання до ангіопульмонографіі:</h4>
	<ul>
		<li>Аномалії розвитку легенів;</li>
		<li>Пухлини легенів. бронхоектатична хвороба;</li>
		<li>Тромбоемболія легеневої артерії;</li>
		<li>Патологічні зміни судин легенів;</li>
		<li>Підготовка до операції на серці з приводу вроджених вад серця для оцінки стану судин малого кола кровообігу.</li>
	</ul>
	<h4>Протипоказання до ангіопульмонографіі:</h4>
	<ul>
		<li>Гостре інфекційне захворювання;</li>
		<li>Бронхіальна астма;</li>
		<li>Алергічні реакції на препарати йоду в анамнезі;</li>
		<li>Недостатність функції нирок;</li>
		<li>Недостатність функції печінки.</li>
	</ul>
	<h4>При підготовці до дослідження виконується обстеження:</h4>
	<ul>
		<li>загальний аналіз крові;</li>
		<li>коагулограма;</li>
		<li>біохімічний аналіз крові;</li>
		<li>група крові та резус-фактор;</li>
		<li>ЕКГ (12 відведень);</li>
		<li>ЕхоКГ (УЗД серця);</li>
		<li>Ангіопульмонографія проводиться натщесерце, останній прийом їжі за вісім годин до процедури</li>
	</ul>
</section>

{% endblock %}