{% extends 'base.html' %}

{% block title %}Артеріографія сонних артерій{% endblock title %}

{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Артеріографія сонних артерій</h3></center>
	<img src="{{ url_for('static', filename='images/arteriography_carotid_arteries.jpg') }}">
	<p>
		<strong>Артеріографія сонних артерій</strong> - з метою виявлення звужень, аневризм. Проводиться при виникненні транзиторних ішемічних атак, інсультів.
	</p>
	<p>Найбільш частою причиною звуження або оклюзії сонної артерії є відкладення на внутрішніх стінках судини атеросклеротичних бляшок. Збільшення бляшки звужує артерію і уповільнює кровотік. На бляшках можуть утворюватися згустки крові (тромби) які ще більше перешкоджають кровотоку.</p>
	<p>Частини тромбу або атеросклеротичної бляшки можуть відділятися і з током крові потрапляти в артерії головного мозку. В результаті чого відбувається так звана емболія судин головного мозку, що призводить до розвитку ішемічного інсульту.</p>
	<p>Оклюзія сонної артерії може привести до розвитку інсульту або раптової швидкої смерті. Ризик для життя зростає при наявності ураження сонних артерій з обох сторін.</p>
	<h4>Показання до проведення ангіографії:</h4>
	<ul>
		<li>Порушення мозкового кровообігу (виявлення аневризм, судинних мальформацій, ангіом головного мозку);</li>
		<li>Стійкі і перехідні порушення мозкового кровообігу за ішемічним типом (виявлення оклюзивно-стенотичних уражень і деформацій магістральних артерій голови);</li>
		<li>Пухлини головного мозку (вивчення особливостей васкуляризації утворень в перспективі їх хірургічного видалення);</li>
		<li>Виявлення патології судин головного мозку і магістральних артерій шиї у безсимптомних хворих при інших методах досліджень (МРТ, КТ, УЗДС).</li>
	</ul>
	<p>Показання для проведення ангіографії сонних артерій визначає лікуючий лікар, який призначає необхідні аналізи і дослідження, такі як аналізи крові, загальний, група крові, Rh-фактор (резус-приналежність), RW, ВІЛ, проби на гепатит В і С
	ультразвукове дуплексне сканування судин шиї</p>
	<h4>Хід оперативного втручання</h4>
	<p>Під час проведення процедури безпосередньо поруч з пацієнтом знаходиться анестезіолог і кардіореаніматологи.</p>
	<p>Проводиться дослідження під місцевою анестезією. Область катетеризації обробляється за правилами антисептики.</p>
	<p>Через місце пункції (проколу) судини, приблизно 1-2мм. в посудину вводиться інтродьюсер (спеціальна пластикова трубочка, що дозволяє вводити і витягувати катетер і ін. інструменти без зайвого травмування судини в місці проколу).</p>
	<p>Через катетер в посудину вводиться рентгеноконтрастний препарат і одночасно за заданою програмою починається швидкісна рентгенівська зйомка.</p>
	<p>При проведенні ангіографії ведеться постійний моніторинг, як ходу самої процедури, так і стану пацієнта.</p>
	<p>Протягом всієї процедури пацієнт знаходиться в свідомості, що дозволяє фахівцям підтримувати постійний контакт, для з'ясування стану пацієнта і профілактики ускладнень.</p>
	<p>Тривалість, як правило, близько години або трохи більше.</p>
	<p>Після видалення катетера, на область пункції накладається пов'язка, що давить, на добу і призначається постільний режим.</p>
	<p>У першу добу необхідний посилений питний режим для поліпшення виведення контрастного препарату (1-1,5 літра мінеральної води без газу).</p>
	<p>Внаслідок малотравматичних процедури <strong>реабілітаційний період</strong> не перевищує 1 дня.</p>
	<h4>Кілька слів про оснащення</h4>
	<p>Операція високотехнологічна, що вимагає використання спеціальної рентгенохірургіческіх операційної, оснащеної складним дорогим високоточним обладнанням. Виконується нашими кваліфікованими фахівцями вищої категорії за новітніми методиками ендоваскулярних технологій.</p>
</section>

{% endblock %}