{% extends 'base.html' %}

{% block title %}Артеріографія ниркових артерій{% endblock title %}

{% block description %}
Артеріографія ниркових артерій - проводиться при діагностиці пухлин нирки і вазоренальної (ниркової) гіпертонії шляхом візуалізації артреій та вен нирки.
{% endblock description %} 

{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Артеріографія ниркових артерій</h3></center>
	<p>
		<strong>Артеріографія ниркових артерій</strong> - проводиться при діагностиці пухлин нирки і вазоренальної (ниркової) гіпертонії шляхом візуалізації артреій та вен нирки.
	</p>
	<p>Діагностичний метод ниркової ангіографії успішно практикується як у дорослих, так і дітей. Його застосування стає актуальним, коли інші методики не дають однозначної відповіді. Завдяки ангіографії нирок стає можливим визначити наявність пухлиноподібних утворень, пошкоджень, різних аномалій і багато іншого.</p>
	<h4>Що являє собою ангіографія нирок, для чого застосовується?</h4>
	<p><strong>Ангіографія нирок</strong> - метод дослідження артерій з використанням контрастної речовини і рентгена. Нирки мають добре розвинену кровоносну систему, зміни в якій і вивчаються за допомогою ниркової ангіографії. Наявність змін в судинах нирок може свідчити про порушення їх функціонування, патологічних змінах, а також дозволяє оцінити функціональний і анатомічний стан органів.</p>
	<h4>З якою метою роблять ангіографію нирок:</h4>
	<ul>
		<li>вивчити судинну систему перед операцією;</li>
		<li>оцінити систему судин при нирковій недостатності і хронічних захворюваннях;</li>
		<li>виявити різні новоутворення;</li>
		<li>діагностувати ускладнення після трансплантації;</li>
		<li>диференціювати пухлини і кісти.</li>
	</ul>
	<h4>Коли проводять ангіографію нирок?</h4>
	<p>Доцільність проведення ангіографії нирок визначається виключно лікарем, попередньо ознайомленим з симптоматикою. Це і стає відправним пунктом для показань до процедури:
	присутність крові в сечі по невизначеною причини (ниркова гематурія):</p>
	<ul>
		<li>підозра на онкологію корковою частини або кісту;</li>
		<li>гідронефроз (пошкодження і кровопостачання тканин);</li>
		<li>складні аномалії;</li>
		<li>нефрогенна гіпертонія;</li>
		<li>туберкульоз нирок;</li>
		<li>артеріальна гіпертензія;</li>
		<li>пухлини в надниркових залозах і органах за очеревиною.</li>
	</ul>
	<p>Ниркова ангіографія використовується в якості доповнення до комплексного дослідження або для точної постановки діагнозу, де інші методики виявилися безсилі.</p>
	<h4>Підготовка до ангіографії</h4>
	<ul>
		<li>За 2 тижні до процедури виключити спиртне.</li>
		<li>За тиждень відмовитися від прийому ліків, що розріджують кров (аспірин та інші).</li>
		<li>За 5 днів слід зробити УЗД серця, електрокардіограму, флюорографію та здати аналіз на згортання крові (коагулограма). А також аналіз крові (загальний, біохімічний, на групу і резус-фактор), аналізи на гепатит, сифіліс та ВІЛ.</li>
		<li>За 2 дні проводиться тест на переносимість контрастної речовини (основна процедура може бути скасована при алергічних реакціях і порушеннях серцево-судинної діяльності).</li>
		<li>За день позбутися від волосяних покривів в певній лікарем області.</li>
		<li>У ніч перед дослідженням добре виспатися (при необхідності випити заспокійливі або антигістамінні препарати).</li>
		<li>На ранок очистити кишечник за допомогою клізми або спеціальних свічок.</li>
		<li>З настанням довгоочікуваного дня відмовитися від води і їжі.</li>
		<li>Безпосередньо перед процедурою спустошити сечовий міхур.</li>
	</ul>
</section>

{% endblock %}