{% extends 'base.html' %}

{% block title %}Артеріографія селезінкової артерії{% endblock title %}

{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Артеріографія селезінкової артерії</h3></center>
	<img src="{{ url_for('static', filename='images/arteriography_splenic_artery.jpg') }}">
	<p>
		<strong>Артеріографія селезінкової артерії</strong> - проводиться для діагностики цирозу печінки і деяких захворювань крові, а також аневризм селезінкової артерії .
	</p>
</section>

{% endblock %}