{% extends 'base.html' %}

{% block title %}Тазова артеріографія{% endblock title %}
{% block description %}
Тазова артеріографія - проводиться при захворюваннях органів малого таза, матки, сечового міхура, прямої кишки.
{% endblock description %} 
{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Тазова артеріографія</h3></center>
	<p>
		<strong>Тазова артеріографія </strong> - проводиться при захворюваннях органів малого таза, матки, сечового міхура, прямої кишки.
	</p>
</section>

{% endblock %}