{% extends 'base.html' %}

{% block title %}Флебографія вен кінцівок{% endblock title %}
{% block description %}
Флебографія вен кінцівок - застосовується з метою виявлення тромбозів (закупорки), варикозної хвороби, порушення клапанного апарату.
{% endblock description %} 
{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Флебографія вен кінцівок</h3></center>
	<p>
		<strong>Флебографія вен кінцівок</strong> - застосовується з метою виявлення тромбозів (закупорки), варикозної хвороби, порушення клапанного апарату.
	</p>
</section>

{% endblock %}