{% extends 'base.html' %}

{% block title %}Флебографія сім’яної вени у чоловіків або яєчникової вени у жінок {% endblock title %}
{% block description %}
Флебографія сім’яної вени у чоловіків або яєчникової вени у жінок - при визначенні їх варикозного ураження.
{% endblock description %} 
{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Флебографія сім’яної вени у чоловіків або яєчникової вени у жінок </h3></center>
	<p>
		<strong>Флебографія сім’яної вени у чоловіків або яєчникової вени у жінок</strong> - при визначенні їх варикозного ураження.
	</p>
</section>

{% endblock %}