{% extends 'base.html' %}

{% block title %}Аортографія{% endblock title %}

{% block content %}

<section class="wrapper diagnostics">
	<center><h3>Аортографія</h3></center>
	<img src="{{ url_for('static', filename='images/aortography.jpg') }}">
	<p>
		<strong>Аортографія</strong> - це методика рентгенологічного дослідження аорти, заснована на отриманні комплексного зображення аорти внаслідок заповнення її контрастною речовиною. Головним інструментом в даному випадку виступає радіоактивне випромінювання, за допомогою якого виробляються знімки наповнених рентгенконтрастною рідиною судин.
	</p>
	<p>Діагностичні можливості методу знаходяться в прямій залежності від виду аортографии. Виділяють 2 типу дослідження аорти:</p>
	<ul>
		<li>Грудна аортография. Застосовується для функціональної та морфологічної діагностики пухлинних захворювань легень, захворювань аорти і відходять від неї гілок;</li>
		<li>Черевна аортографії. Використовується для отримання додаткової діагностичної інформації при захворюваннях нирок, кишечника, печінки, селезінки, сечового міхура і матки.</li>
	</ul>
	<h4>Показання:</h4>
	<ul>
		<li>звуження аорти;</li>
		<li>відкрита артеріальна протока;</li>
		<li>ураження гілок аорти з їх закупоркою;</li>
		<li>аневризма і розшарування аорти;</li>
		<li>стеноз гирла аорти;</li>
		<li>пухлина середостіння;</li>
		<li>недостатність клапана аорти;</li>
		<li>аномалії локалізації дуги аорти;</li>
		<li>дослідження під час підготовки до хірургічної операції.</li>
	</ul>
	<h4>Протипоказання:</h4>
	<ul>
		<li>ниркова і печінкова недостатність в гострій формі;</li>
		<li>інфекційне захворювання;</li>
		<li>відкрита фаза активного туберкульозу;</li>
		<li>алергія на йодовмісні препарати;</li>
		<li>вагітність.</li>
	</ul>
	<h4>Підготовка</h4>
	<p>В день проведення рентгенологічного дослідження аорти забороняється що-небудь їсти, аортографія виконується тільки натщесерце. Також напередодні процедури рекомендується зробити очисну клізму. Передбачуване місце введення катетера необхідно очистити від волосся.
	</p>
	<p>Безпосередньо перед дослідженням у пацієнта беруть пробу на алергічні реакції і проводять локальну анестезію.</p>
	<h4>Методика проведення</h4>
	<p>При збереженні пульсації артерії в стегнової частини прокол здійснюється саме там (методика Сельдингера). В отриманий прокол вставляється тонкий струноподібний провідник, за допомогою якого в подальшому вводиться катетер. Провідник витягується, а катетер проводиться безпосередньо в аорту. Після цього проводиться введення рентгенконтрастного препарату. Далі за допомогою рентгенівського апарату виконується ряд знімків досліджуваної області, після чого катетер видаляється, а на місце проколу накладають асептичну пов'язку, що давить для запобігання кровотечі. Отримані знімки зберігаються на жорсткому диску комп'ютера, що дозволяє лікарю звертатися до них в будь-який момент.</p>
	<p>При непрохідності артерії в стегнової частини катетер встановлюється в плечову або променеву артерії.</p>
</section>

{% endblock %}