{% extends 'base.html' %}

{% block title %}Церебральна ангіографія{% endblock title %}

{% block content %}
<section class="wrapper diagnostics">
	<center><h3>Церебральна ангіографія</h3></center>
	<img src="{{ url_for('static', filename='images/cerebral_angiography.jpg') }}">
	<p>
		<strong>Церебральна ангіографія</strong> - дослідження судин головного мозку для виявлення звужень, аневризм або мальформаций. Проводиться при виникненні інсультів або транзиторних ішемічних атак.
	</p>
	<p>Метод церебральної ангіографії є “золотим стандартом” при дослідженні патологій судин головного мозку.</p>
	<p>Метод церебральної ангіографії дозволяє візуалізувати стенози та аневризматичні розширення сонних та хребцевих артерій, наявність артеріо-венозних мальформацій, каротидно-кавернозних фістул,  мішковидних аневризм судин головного мозку, а також пухлини головного мозку.
	</p>
	<h4>Методика виконання церебральної ангіографії:</h4>
	<ul>
		<li>пункція судини (стегнової артерії, променевої артерії, плечової артерії) з встановленням інтродьюсера;</li>
		<li>катетеризація потрібної артерії;</li>
		<li>введення контрастної речовини та ангіографія;</li>
		<li>комп’ютерна обробка серії зображень;</li>
		<li>гемостаз.</li>
	</ul>
	<h4>Покази до проведення церебральної ангіографії:</h4>
	<ul>
		<li>Порушення мозкового кровообігу за геморагічним типом;</li>
		<li>Транзиторні ішемічні атаки та порушення мозкового кровообігу за ішемічним типом;</li>
		<li>Пухлини головного мозку (вивчення особливостей васкуляризації утворень в перспективі їх хірургічного видалення);</li>
		<li>Виявлення патології судин головного мозку та магістральних артерій шиї у безсимптомних хворих при інших методах досліджень (МРТ/МР-АГ, КТ/КТ-АГ, УЗДС МАГ, ТКДГ).</li>
	</ul>
</section>
{% endblock %}