{% extends 'base.html' %}

{% block title %}Відділення інтервенційної кардіології та малоінвазивної хірургії{% endblock title %}
{% block description %}Третя Черкаська міська лікарня. Відділення інтервенційної кардіології та малоінвазивної хірургії{% endblock description %}
{% block content %}
<script type="text/javascript">
    function show_form(){
        document.getElementById('form_btn').style.display = "none";
        document.getElementById('review_form').style.display = "flex";
    }
</script>
<div class="main">
    <h1>Відділення ендоваскулярної хірургії</h1>
</div>
<section class="tags wrapper">
    <ul class="tab_list">
        <li>
            <button class="tablinks" id="default_open" onclick="viewTag(event, 'tag_1')">Ендоваскулярна хірургія
            </button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_2')">Методи лікування</button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_3')">Показання</button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_4')">Ендоваскулярні втручання</button>
        </li>
        <li>
            <button class="tablinks" onclick="viewTag(event, 'tag_5')">Переваги ендоваскулярної хірургії</button>
        </li>
    </ul>

    <div id="tag_1" class="tabcontent">
        <h3>Центр ендоваскулярної хірургії</h3>
        <div class="conteiner">
            <div>
                <img src="{{ url_for('static', filename='images/tab_1.webp') }}" loading="lazy">
            </div>
            <div>
                <p><strong>Ендоваскулярна хірургія</strong> – це підрозділ малоінвазивної судинної хірургії, який
                    спрямований на лікування серцево-судинних захворювань, доброякісних та злоякісніх пухлин, а також
                    багатьох патологій пов’язаних з порушенням судинного кровоплину або ж такі патології на які можна
                    вплинути шляхом внесення контрольованих змін в кровоносне русло. Завдяки сучасним технологіям
                    з’явилися нові малотравматичні можливості лікування хвороб, особливо це важливо в тих випадках,
                    коли традиційні хірургічні втручання є протипоказаними.</p>
                <p>В <strong>ендоваскулярному відділенні Третьої міської лікарні</strong>у м. Черкаси працюють
                    талановиті та досвідчені професіонали, які досконало володіють всіма необхідними навиками, що
                    дозволяють рятувати життя пацієнтам незважаючи на тяжкі супутні патології.</p>
                <h3>Ендоваскулярна хірургія та її особливості</h3>
                <p>Ендоваскулярна хірургія є вибагливою до оснащення лікарень та до відбору спеціалістів, проте завдяки
                    вмілому поєднанню всіх складових відкриваються нові можливості в сфері лікування та діагностики в
                    таких напрямках:</p>
                <ul>
                    <li>Кардіологія;</li>
                    <li>Неврологія;</li>
                    <li>Урологія;</li>
                    <li>Гінекологія;</li>
                    <li>Онкологія та ін.</li>
                </ul>
                <p>Ендоваскулярна операція має ряд відмінностей і особливостей в порівнянні з традиційними втручаннями.
                    Лікар не робить розрізи, а проводить втручання в судини через невеликі проколи в шкірі, тому частіше
                    всього потреби в застосуванні загального наркозу немає. Зазвичай достатньо місцевого знеболення
                    розчином анестетика. Всі маніпуляції відбуваються в судинному руслі, тому неприємні відчуття під
                    час та після процедури мінімізовані, а час відновлення та повернення до звичного життя скорочується
                    до кількох днів.</p>
            </div>
        </div>
    </div>

    <div id="tag_2" class="tabcontent">
        <h3>Ендоваскулярні методи лікування</h3>
        <div class="conteiner">
            <div>
                <img src="{{ url_for('static', filename='images/tab_2.webp') }}" loading="lazy">
            </div>
            <div>
                <p>Ендоваскулярна хірургія використовує наступні маніпуляції:</p>
                <ol>
                    <li><strong>Стентування</strong> – медичне мініінвазивне оперативне втручання, що проводиться з
                        метою
                        встановлення стенту (спеціального каркаса, який поміщається в просвіт судин ),
                        наприклад, коронарних судин або судин нижніх кінцівок, і забезпечує розширення звуженої
                        патологічним процесом ділянки. Стентування вважається одним з найефективніших методів лікування
                        атеросклерозу та ішемічної хвороби серця.
                    </li>
                    <li><strong>Балонна ангіопластика (дилатація)</strong> – розширення просвіту звуженої судини за
                        допомогою балона ,
                        який заводять в ділянку стенозу/оклюзії та роздувають , а після відновлення кровотоку видаляють
                        із кровоносного русла. Методика застосовується для відновлення прохідності артеріальних і
                        венозних судин, уражених атеросклерозом, тромбозом або іншими патологіями.
                    </li>
                    <li><strong>Ендопротезування</strong> – установка штучного протезу подібного за структурою та
                        властивостями до
                        артерій в ділянки які є травмованими або ж потенційно небезпечними в плані виникнення значних
                        кровотеч . Метод найчастіше використовується при лікуванні аневризми.
                    </li>
                    <li><strong>Емболізація</strong> – імплантація в судину спеціальних матеріалів (емболів), які
                        закупорюють його.
                        Застосовується при лікуванні судинних хвороб(аневризми,варікоцеле,геморрой) та різних
                        новоутворень(доброякісні та злоякісні новоутворення). Через припинення кровопостачання пухлина
                        не отримує субстрату необхідного для подальшого росту і з часом зменшується в розмірах.
                    </li>
                    <li><strong>Установка внутрішньосудинних фільтрів</strong> - маніпуляція необхідна для попередження
                        проникнення
                        тромбів та атеросклеротичних бляшок в судини легень , серця і головного мозку в тих ситуаціях ,
                        коли є такі ризи в ході маніпуляцій та на фоні певних патологій серцево-судинної системи.
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="tag_3" class="tabcontent">
        <h3>Показання</h3>
        <div class="conteiner">
            <div>
                <p>Ендоваскулярна хірургія судин дозволяє позбавити пацієнтів від багатьох патологічних станів.
                    Виконується вона за такими показаннями:</p>
                <ul>
                    <li>ішемічна хвороба серця;</li>
                    <li>гострий інфаркт міокарда;</li>
                    <li>аденома простати;</li>
                    <li>варикоцеле;</li>
                    <li>портальна гіпертензія;</li>
                    <li>атеросклероз;</li>
                    <li>злоякісні пухлини;</li>
                    <li>різні аневризми;</li>
                    <li>міома матки;</li>
                    <li>кровотечі;</li>
                    <li>тромбоз та ін.</li>
                </ul>
                <p>Метод набирає все більшої популярності, тому перелік захворювань, при яких можуть використовувати цей
                    метод, постійно збільшується.</p>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/tab_3.webp') }}" loading="lazy">
            </div>
        </div>
    </div>
    <div id="tag_4" class="tabcontent">
        <h3>Ми виконуємо такі ендоваскулярні втручання</h3>
        <div class="conteiner">
            <div>
                <p>Висококваліфіковані фахівці медичного центру проводять такі ендоваскулярні операції:</p>
                <ol>
                    <li>Емболізація доброякісних і злоякісних пухлин. Оскільки відбувається закупорка артерії, яка
                        живить новоутворення, патологія перестає прогресувати, а пухлина зменшується в розмірах.
                    </li>
                    <li>Емболізація артерій передміхурової залози (лікування аденоми простати). Після закупорки судини,
                        яка живить аденому, новоутворення практично відразу зменшується в розмірах, що помітно в
                        поліпшенні сечовипускання. Маніпуляція дозволяє не тільки усунути неприємні симптоми, але й
                        відновити сексуальну функцію.
                    </li>
                    <li>Емболізація варикоцеле у чоловіків. Попередньо проводиться ангіографічна діагностика судин
                        мошонки і таза. На відміну від традиційних методів процедура безпечна для пацієнтів і виключає
                        повторний розвиток хвороби.
                    </li>
                    <li>Емболізація маткових артерій при міомі матки. Дозволяє повністю прибрати невеликі вузли та
                        значно зменшити в розмірах великі новоутворення. В результаті зникає тиск на сусідні внутрішні
                        органи, відновлюється менструальний цикл, усуваються маткові кровотечі та інші симптоми.
                    </li>
                </ol>
                <p>Перед маніпуляцією пацієнтам призначаються дослідження для встановлення точного діагнозу і визначення
                    ступеня прогресування хвороби.</p>
                <h4>Особливості післяопераційного періоду</h4>
                <p>Якщо проводилася ендоваскулярна операція, пацієнт може вести звичний спосіб життя в той же день.
                    Перші дні рекомендується лише обмежити фізичну активність. Дотримання особливих правил не потрібне.
                    Реабілітація проходить швидко і легко через відсутність загального наркозу і порожнинних
                    розрізів.</p>
                <p>Тривала госпіталізація також не потрібна. Пацієнта зазвичай виписують на 2-3 день. Рішення про
                    тривалість перебування в стаціонарі приймає лікар індивідуально.</p>
            </div>
        </div>
    </div>
    <div id="tag_5" class="tabcontent">
        <h3>Переваги ендоваскулярної хірургії</h3>
        <div class="conteiner">
            <div>
                <p>У порівнянні з традиційними методами оперативного втручання ендоваскулярна хірургія налічує чимало
                    переваг:</p>
                <ul>
                    <li>відсутність порожнинних розрізів, а відповідно, шрамів і рубців;</li>
                    <li>застосування загального наркозу у виняткових випадках;</li>
                    <li>можливість проведення маніпуляції при протипоказаннях до традиційної операції;</li>
                    <li>швидке відновлення після процедури – тривалість госпіталізації становить не більше 3-х днів;
                    </li>
                    <li>мінімальний ризик виникнення ускладнень.</li>
                </ul>
                <p>Оскільки ендоваскулярна процедура проводиться в нашому центрі за допомогою інноваційного обладнання,
                    через низьке рентгенологічне випромінювання вона безпечна для дітей і дорослих.</p>

                <p>Щоб скористатися нашими послугами і записатися на прийом до лікаря,телефонуйте нам.</p>
            </div>
        </div>
    </div>
</section>
<section class="categories">
    <h3>Напрямки лікування</h3>
    <div class="wrapper">
        <img src="{{ url_for('static', filename='images/logo.png') }}" loading="lazy">
        <ul>
            <li><a href="{{ url_for('angiography_lower_extremities') }}">Ангіографія нижніх кінцівок</a></li>
            <li><a href="{{ url_for('ema') }}">Емболізація маткових артерій (ЕМА)</a></li>
            <li><a href="{{ url_for('varicocele_embolization') }}">Емболізація варікоцеле</a></li>
            <li><a href="{{ url_for('balloon_angioplasty_vessels') }}">Балонна ангіопластика судин</a></li>
            <li><a href="{{ url_for('embolization_prostate_arteries') }}">Емболізація артерій простати</a></li>
            <li><a href="{{ url_for('coronary_angiography_heart_pain') }}">Коронарографія при болях в серці</a></li>
            <li><a href="{{ url_for('angiography_cerebral_vessels') }}">Ангіографія судин головного мозку</a></li>
        </ul>
    </div>
</section>
<section class="our_doctors wrapper" id="Doctors">
    <h3>Наші лікарі</h3>
    <div class="doctors">
        <div class="doctor_cart">
            <span class="place">Клініка</span>
            <a href="#" class="blank">
                <div class="photo"
                     style="background-image:url('{{ url_for('static', filename='images/doctor_2.webp') }}')"></div>
                <div class="name">Почечуєв Дмитро Анатолієвич</div>
            </a>
            <span class="subheader">Ендоваскулярна хірургія</span>
            <ul>
                <li><strong>Завідуючий відділенням</strong></li>
                <li>Ендоваскулярний хірург</li>
                <li>Інтервенційний радіолог</li>
                <li>Інтервенційний кардіолог</li>
                <li>Судинний хірургг</li>
            </ul>
            <span class="degree">Лікар вищої категорії</span>
        </div>

        <div class="doctor_cart">
            <span class="place">Клініка</span>
            <a href="#" class="blank">
                <div class="photo"
                     style="background-image:url('{{ url_for('static', filename='images/doctor_3.webp') }}')"></div>
                <div class="name">Сало Роман<br>Юрійович</div>
            </a>
            <span class="subheader">Ендоваскулярна хірургія</span>
            <ul>
                <li><strong>Лікар хірург</strong></li>
                <li>Лікар-ендоскопіст</li>
                <li>Ендоваскулярний хірург</li>
            </ul>
            <span class="degree"></span>
        </div>

        <div class="doctor_cart">
            <span class="place">Клініка</span>
            <a href="#" class="blank">
                <div class="photo"
                     style="background-image:url('{{ url_for('static', filename='images/doctor_1.webp') }}')"></div>
                <div class="name">Гриценко Ілля Володимирович</div>
            </a>
            <span class="subheader">Ендоваскулярна хірургія</span>
            <ul>
                <li><strong>Лікар хірург</strong></li>
                <li>Ендоваскулярний хірург</li>
            </ul>
            <span class="degree"></span>
        </div>
    </div>
</section>
<section class="reviews_slider wrapper" id="Reviews">
    {% if reviews %}

    <link href="{{ url_for('static', filename='css/slick.min.css') }}" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')|remove_from_url }}" type="text/javascript"  defer></script>
    <script src="{{ url_for('static', filename='js/slick.min.js')|remove_from_url }}" type="text/javascript"  defer></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js')|remove_from_url }}" type="text/javascript"  defer></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"  defer></script>

    <h3>Відгуки</h3>
    <div class="slider">
        {% for review in reviews %}
        <div class="slide">
            <div>
                <span class="name">{{ review.name }}</span>
                <span class="date">{{ review.date|formatdate }}</span>
            </div>
            <p class="review">{{ review.text}}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>Відгуків поки немає. Будьте першим, хто їх залишить!</h3>
    {% endif %}
    <button id="form_btn" onclick="show_form();">Залишити відгук</button>
    <form method="POST" action="{{ url_for('review')}} " id='review_form'>
        <input type="text" name="name" placeholder="Ім'я...">
        <textarea name="text" placeholder="Ваш відгук..."></textarea>
        {% if error %}
            <label id="name-error" class="error">*Введено недопустимі символи.</label>
            <script>
                show_form();
            </script>
        {% endif %}
        <input type="submit" value="Відправити">
    </form>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/tags.js') }}" defer></script>
{% endblock %}
